<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1>회원 정보</h1>

        <h4 sec:authorize="hasRole('USER')">SETGE 회원</h4>
        <h4 sec:authorize="hasRole('MANAGER')">SETGE 매니저</h4>
        <h4 sec:authorize="hasRole('ADMIN')">SETGE 관리자</h4>
        <br />


        <div class="form-group">
            회원번호 : <span type="text" sec:authentication="principal.mid"></span>
        </div>

        <div class="form-group">
            email : <span sec:authentication="principal.email"></span>
        </div>

        <div class="form-group">
            닉네임 : <input type="text" sec:authentication="principal.nickname">
        </div>

        <div class="form-group">
            소셜여부 : <span sec:authentication="principal.fromSocial"></span>
        </div>

        <div class="form-group">
            등급 : <span sec:authentication="principal.authorities"></span>
        </div>

        <a th:href="@{/member/modify}" th:action="get" class="btn btn-success">비밀번호 변경</a>
        <a th:href="@{/}" th:action="get" class="btn btn-info">홈</a>

    </th:block>
</th:block>

</html>