<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1>비밀번호 확인</h1>

        <form th:action="@{/member/password-check}" th:method="POST">

            <div class="form-group">
                현재 비밀번호 : <input type="password" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-success" onclick="return passwordCheck()">확인</button>
        </form>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>

            function passwordCheck() {

                let password = $("#password").val();

                if (password.length == 0) {
                    swal("입력 확인", "입력사항을 확인해주세요", "warning");
                    return false;
                }
                return true;
            } // end passwordCheck

        </script>

    </th:block>

</th:block>