<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">[[${dto.title}]] 수정</h1>


        <form th:action="@{/movie/modify}" th:method="post">

            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}">
            </div>

            <div class="form-group">
                <label>리뷰 수 </label>
                <input type="text" class="form-control" name="reviewCnt" th:value="${dto.reviewCnt}" readonly>
            </div>

            <div class="form-group">
                <label>평균평점 </label>
                <input type="text" class="form-control" name="avg" th:value="${dto.avg}" readonly>
            </div>

            <!--            리뷰 삭제시 필요한 mno 히든 값-->
            <input type="hidden" class="form-control" name="mno" th:value="${dto.mno}">


            <div class="box">

            </div>

            <style>
                .uploadResult {
                    width: 100%;
                    background-color: gray;
                    margin-top: 10px;
                }

                .uploadResult ul {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    vertical-align: top;
                    overflow: auto;
                    background-color: whitesmoke;
                }

                .uploadResult ul li {
                    list-style: none;
                    padding: 10px;
                    margin-left: 2em;
                }

                .uploadResult ul li img {
                    width: 100px;
                }
            </style>

            <div class="form-group fileForm">
                <label>이미지 파일</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="파일업로드"></label>
                </div>
            </div>

            <div class="uploadResult">
                <ul>
                    <li th:each="movieImage: ${dto.imageDTOList}" th:data-file="${movieImage.getThumbnailURL()}">

                        <div>
                            <button type='button' data-file='\ + obj.imageURL + \' class='btn-warning btn-sm'>X</button>
                            <br>
                        </div>
                        <img th:if="${movieImage.path != null}"
                             th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">

                    </li>
                </ul>
            </div>


            <button type="button" class="btn btn-primary modifyBtn">수정</button>
            <button type="button" class="btn btn-info listBtn">목록</button>
            <button type="button" class="btn btn-danger removeBtn">삭제</button>

        </form>

    </th:block>

</th:block>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline="javascript">

    let actionForm = $("form"); //form 태그 객체

    $(".removeBtn").click(function () {

        if (!(confirm("삭제하시겠습니까?"))) {
            return;
        }

        actionForm
            .attr("action", "/movie/remove")
            .attr("method", "post");

        actionForm.submit();
    });

    $(".modifyBtn").click(function () {

        if (!confirm("수정하시겠습니까?")) {
            return;
        }

        actionForm
            .attr("action", "/movie/modify")
            .attr("method", "post")
            .submit();
    });

    $(".listBtn").click(function () {

        let page = $("input[name='page']");
        let type = $("input[name='type']");
        let keyword = $("input[name='keyword']");

        actionForm.empty(); //form 태그의 모든 내용을 지우고

        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);

        actionForm
            .attr("action", "/movie/list")
            .attr("method", "get");

        actionForm.submit();
    });

    $(document).ready(function (e) {

        let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        let maxSize = 10485760; //10MB

        function checkExtension(fileName, fileSize) {

            if (fileSize >= maxSize) {
                swal("용량 초과", "업로드할 수 있는 용량이 초과되었습니다.", "warning");
                return false;
            }

            if (regex.test(fileName)) {
                swal("파일 확장자 확인", "업로드할 수 있는 파일형식이 아닙니다.", "warning");
                return false;
            }
            return true;
        }

        $(".custom-file-input").on("change", function () {

            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            let formData = new FormData();
            let inputFile = $(this);
            let files = inputFile[0].files;
            let appended = false;

            for (let i = 0; i < files.length; i++) {

                if (!checkExtension(files[i].name, files[i].size)) {
                    return false;
                }

                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
                appended = true;
            }

            if (!appended) {
                return;
            }

            for (let value of formData.values()) {
                console.log(value);
            }

            // 업로드
            $.ajax({
                url: '/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    showResult(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }); //$.ajax
        }); //end change event


        function showResult(uploadResultArr) {

            let uploadUL = $(".uploadResult ul");
            let str = "";

            $(uploadResultArr).each(function (i, obj) {

                str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                str + " <div>";
                str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                str += "class='btn-warning btn-sm'>X</button><br>";
                str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                str += "</div>";
                str + "</li>";
            });
            uploadUL.append(str);
        } // end showResult

        $(".uploadResult").on("click", "li button", function (e) {
            console.log("delete")

            let targetFile = $(this).data("file");
            let targetLi = $(this).closest("li");

            $.ajax({
                url: '/removeFile', // imageFileUploadController
                data: {fileName: targetFile},
                dataType: 'text',
                type: 'POST',
                success: function (result) {
                    swal("파일 삭제 성공", "파일을 삭제하였습니다.", "success");
                    targetLi.remove();
                }
            }) // end aJax
        }); // end deleteFile

        // 파일 업로드 전송
        $(".modifyBtn").on("click", function (e) {

            let str = "";

            $(".uploadResult li").each(function (i, obj) {
                let target = $(obj);
                console.log("target : " + target);

                str += "<input type='hidden' name='imageDTOList[" + i + "].imgName' value='" + target.data('name') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='" + target.data('path') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";
            });
            // <div class='box'> 내에 히든태그 만들어 전송
            $(".box").html(str);
        });

    }); // end document

</script>