<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">[[${dto.title}]]</h1>


        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>

        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="title" th:value="${dto.nickname}" readonly>
        </div>

        <div class="form-group">
            <label>리뷰 수 </label>
            <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
        </div>

        <div class="form-group">
            <label>평균평점 </label>
            <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
        </div>

        <style>
            .uploadResult {
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
                background-color: whitesmoke;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }
        </style>

        <div class="uploadResult">
            <ul>
                <li th:each="movieImage: ${dto.imageDTOList}" th:data-file="${movieImage.getThumbnailURL()}">
                    <img th:if="${movieImage.path != null}"
                         th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>

        <div>
            <a th:if="${dto.getMid} == ${memberDTO.getMid}"
               th:href="@{/movie/modify(mno = ${dto.mno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                <button type="button" class="btn btn-primary">수정</button>
            </a>

            <a th:href="@{/movie/list(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                <button type="button" class="btn btn-info">목록</button>
            </a>
        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-primary">
                리뷰 수 <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
            </button>

            <button type="button" class="btn btn-info addReviewBtn">
                리뷰 등록
            </button>
        </div>

        <div class="list-group reviewList">
        </div>


        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">리뷰 등록하기</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" class="form-control" name="mid" th:value="${memberDTO.getMid}">

                        <div class="form-group">
                            <label>평점 <span class="grade"></span></label>
                            <div class='starrr'></div>
                        </div>
                        <div class="form-group">
                            <label>리뷰</label>
                            <input type="text" class="form-control" name="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">리뷰등록</button>
                        <button type="button" class="btn btn-warning modifyBtn">리뷰수정</button>
                        <button type="button" class="btn btn-danger removeBtn">리뷰삭제</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="imageModal modal " tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Picture</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


        <script th:src="@{/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            $(document).ready(function (e) {

                // 403 에러 해결
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
                $(function () {
                    $(document).ajaxSend(function (e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });

                let grade = 0;
                let mno = [[${dto.mno}]];

                $('.starrr').starrr({
                    rating: grade,
                    change: function (e, value) {
                        if (value) {
                            console.log(value);
                            grade = value;
                        }
                    }
                });

                let reviewModal = $(".reviewModal");
                let inputMid = $('input[name="mid"]');
                let inputText = $('input[name="text"]');


                $(".addReviewBtn").click(function () {
                    inputMid.val();
                    inputText.val("");

                    $(".removeBtn ,  .modifyBtn").hide();
                    $(".reviewSaveBtn").show();

                    reviewModal.modal('show');
                });

                // 리뷰 등록
                $('.reviewSaveBtn').click(function () {

                    let data = {mno: mno, grade: grade, text: inputText.val(), mid: inputMid.val()};

                    console.log(data);

                    $.ajax({
                        url: '/reviews/' + mno,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                // 리뷰 조회
                function getMovieReviews() {

                    function formatTime(str) {
                        let date = new Date(str);

                        return date.getFullYear() + '/' +
                            (date.getMonth() + 1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }

                    $.getJSON("/reviews/" + mno + "/all", function (arr) {
                        let str = "";

                        $.each(arr, function (idx, review) {

                            str += '    <div class="card-body" data-reviewnum=' + review.reviewnum + ' data-mid=' + review.mid + '>';
                            str += '    <small> 평점 : ' + review.grade + '</small>';
                            str += '    <h5 class="card-title">' + review.text + '</h5><br/>';
                            str += '    <h6 class="card-subtitle mb-2 text-muted">' + review.nickname + '</h6>';
                            str += '    <p class="card-text">' + formatTime(review.modDate) + '</p>';
                            str += '    </div>';
                        });
                        $(".reviewList").html(str);
                    });
                }

                getMovieReviews();


                let reviewnum;

                // 리뷰 선택
                $(".reviewList").on("click", ".card-body", function () {

                    $(".reviewSaveBtn").hide();
                    $(".removeBtn , .modifyBtn").show();


                    let targetReview = $(this);
                    let inputMid = $("input[name='mid']").val($(this).find('.card-title').html());


                    reviewnum = targetReview.data("reviewnum");
                    console.log("reviewnum: " + reviewnum);
                    console.log("mid " + inputMid.val(targetReview.data("mid")).val())
                    console.log("memberDTO " + [[${memberDTO.getMid}]])

                    inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

                    let grade = targetReview.find('.card-title span').html();
                    $(".starrr a:nth(" + grade + ")").trigger('click');

                    // 로그인한 사용자가 등록한 리뷰면 수정가능하게 해줘
                    if (inputMid.val() == [[${memberDTO.getMid}]]) {
                        $('.reviewModal').modal('show');
                    }

                });

                // 리뷰 수정
                $(".modifyBtn").on("click", function () {

                    let data = {
                        reviewnum: reviewnum,
                        mno: mno,
                        grade: grade,
                        text: inputText.val(),
                        mid: inputMid.val()
                    };

                    console.log("modify : " + data)

                    $.ajax({
                        url: '/reviews/' + mno + "/" + reviewnum,
                        type: "PUT",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                // 리뷰 삭제
                $(".removeBtn").on("click", function () {

                    let data = {reviewnum: reviewnum};

                    console.log("remove : " + data);

                    $.ajax({
                        url: '/reviews/' + mno + "/" + reviewnum,
                        type: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                $(".uploadResult li").click(function () {

                    let file = $(this).data('file');
                    console.log(file);

                    $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName=" + file + "&size=1' >")
                    $(".imageModal").modal("show");
                });

            }); // emd document
        </script>
    </th:block>
</th:block>