<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1>로그인</h1>
        <div th:if="${param.error != null}" style="color: red">
            이메일 또는 비밀번호를 확인하세요.
        </div>

        <form th:action="@{/authenticate}" method="post">

            <div>
                <div class="form-group">
                    <label>이메일</label>
                    <input type="text" class="form-control col-3" name="email" placeholder="이메일을 입력하세요">
                </div>

                <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" class="form-control col-3" name="password" placeholder="비밀번호를 입력하세요">
                </div>

                <div>
                    <input style="margin-left: 10%" id="remember-me" name="remember-me" type="checkbox">자동로그인
                </div>

                <br/>

                <button style="margin-left: 10%" type="submit" class="btn btn-primary">로그인</button>
            </div>

        </form>
        <br/>

        <div style="margin-left: 5%">
            <a class="btn btn-success" th:href="@{/member/signup}">회원가입</a>
            <a href="/oauth2/authorization/google" class="btn btn-info active" role="button">Google Login</a>
        </div>

    </th:block>

</th:block>